.projects-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    /* Space between items */

    grid-template-columns: repeat(3, minmax(230px, 1fr));

}