@import url("../../animation.css");

.projects-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    /* Space between items */

    grid-template-columns: repeat(3, minmax(230px, 1fr));

}

.project {
    animation-name: flipInX;
    animation-duration: 1.3s;

}
.project:hover {
    transform: scale(1.1);
}