.landing-grid {

    text-align: center;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #f5f8fa;

}

.avatar {
    max-height: 250px;
    max-width: 250px;
    border-radius: 20px;
    padding-bottom: 1rem;
}

.banner-text {
    opacity: .8;
    width: 100%;
    margin: auto;
}

.banner-text h2 {
    font-size: 30px;
    font-weight: bold;
    color: #263238;
}

.banner-text hr {
    border-top: 5px dotted black;
    width: 50%;
    margin: auto;
}

.banner-text p {
    color: black;
    font-size: 20px;
    padding: 0.5em;

}
.social-links {
    display: flex;
    justify-content: space-between;
    width: 50%;
    margin: auto;
}

.social-links i {
    color: #007bff;
    font-size: 5em;
    padding: 8px;
}