.contact-root {
    position: fixed;
    width: 100%;
    height: 100%;
    justify-content: center;
    
    padding-top: 2em;
}

.contact-body {
    margin:auto;

    text-align: center;
    justify-content: center;
    width: 80%;
    height: 550px;
    background: white;
    color: black;
    margin-bottom: 20px;
    
}

.contact-grid {
    display: grid;
    grid-template-columns: 50% 50%;
    justify-items: center;
}

.contact-grid h2 {
    font-family: 'Anton', sans-serif;
}

.contact-grid p {
    font-family: 'Oxygen', sans-serif;
    font-weight: bold;
}

.contact-grid hr {
    border-top: 5px dotted black;
    width: 75%;
    margin: auto;
}

.contact-list i {
    font-size: 66px;
    padding-right: 2rem;
}