.header {

    background-size: cover;
    
}

.nav {
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%;
    margin-left: 1em;
}

.title {
    color: black;
    font-size: 1.6rem;
}
.title:hover {
    color: #607d8b;
    text-decoration: none;

}

.link {
    color: black;
    height: 100%;
}
.link:hover {
    text-decoration: none;
    color: #263238;
    background-color: #eceff1;
    
}